
.jumbotron{
    background-image: url("../images/banner.png");
    height: 958px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    border:none;
}


.jumbotron-content{
    width: 308px;
}
.jumbotron h1{
    font-size: 80px;
    line-height: 94px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 32px;
}
.jumbotron p{
    width: 283px; 
    text-align: justify;    
    margin:0 auto;
    margin-bottom: 48px;

}


.jumbotron ul{
    display:flex;
    justify-content: space-between;
}
.jumbotron a{
    display: block;
    cursor: pointer;
}