.myBrand{
    color:#fff;
    background-color:#000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}

.myBrand h1{
    margin-bottom: 16px;

}

.myBrand h5{
    margin-bottom: 32px;
}

.myBrand ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 132px;
    margin-bottom: 48px;
}


.myBrand ul.work-pictures{
    display: flex;
    height: 875px;
    width: 1300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 160px;
}

.myBrand ul.work-pictures li{
    margin-left:24px;
}

.myBrand ul.work-pictures li:first-child{
    margin-bottom:40px;
}




