<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第二週版型作業</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{css_directory}}all.css">
   
</head>
<body>
<main class="container">
    <div class="jumbotron"  data-aos="fade-in">
        <div class="jumbotron-content">
        <h5>Here's</h5>
        <h1>JOANNE</h1>
        <p>Founder of "XXXD Official"
        & Graphic Designer</p>
        <ul>
            <li><a class="behence" href="#">
                 {% include "behance.svg"%}
            </a></li>
            <li><a class="facebook" href="#">
                {% include "facebook.svg"%}
            </a></li>
            <li><a class="instagram" href="#">
                {% include "instagram.svg"%}
            </a></li>
            <li><a class="youtube" href="#">
                 {% include "youtube.svg"%}
            </a></li>
        </ul>
        </div>
    </div>
    <div class="about" data-aos="fade-right">
        <h1 class="font-robot-title">About</h1>
        <img src="{{image_directory}}photo.png" alt="">
        <ul class="profile font-rotobo-bold">
            <li>Joanne Chen</li>
            <li>1997/10/10</li>
            <li>National Hex School Normal University</li>   
            <li> Department of Visual Design</li>       
        </ul>
        <hr>
        <ul class="font-rotobo-bold">
            <li>Founder of ‘’XXXD Official’’</li>
            <li>Graphic Designer</li>
            <li>Graphic Intern of Hex School</li>
        </ul>
    </div>
    <div class="myBrand" data-aos="fade-left">
        <h1 class="font-robot-title">My Brand ‘’XXXD’’</h1>
        <h5 class="font-rotobo-medium">Just Keep XXXD Everyday</h5>
        <ul>
            <li>2020 年創立的個人服飾品牌</li>
            <li>引領叛逆少年開啟與社會對話的窗口</li>
            <li>主打概念潮流T-Shirt</li>
        </ul>
        <ul class="work-pictures">
            <li><img src="{{image_directory}}brand_img1.png" alt="brand_img1"></li>
            <li><img src="{{image_directory}}brand_img2.png" alt="brand_img2"></li>
            <li><img src="{{image_directory}}brand_img3.png" alt="brand_img3"></li>
        </ul>
    </div>
    <div class="otherWorks" data-aos="fade-right">
        <h1 class="font-robot-title">Other Works</h1>
        <p>2016-2020 年累積的作品</p>
        <p class="mb-56px">海報/廣告/攝影/LOGO/3D</p>
        <div class="poster-design d-flex justify-content-between">
            <div class="product d-flex flex-column justify-content-center"><img src="{{image_directory}}work_img1.png" alt=""><p class="show-bordr pt-16px text-center">海報設計/2018</p></div>
            <div class="product d-flex flex-column justify-content-center"><img src="{{image_directory}}work_img2.png" alt=""><p class="pt-16px text-center">海報設計/2018</p></div>
            <div class="product d-flex flex-column justify-content-center"><img src="{{image_directory}}work_img3.png" alt=""><p class="pt-16px text-center">海報設計/2018</p></div>
        </div>
        <div class="conceptual-photography d-flex justify-content-between mt-48px">
            <div class="product d-flex flex-column justify-content-center"><img src="{{image_directory}}work_img4.png" alt=""><p class="pt-16px text-center">概念攝影/2018</p></div>
            <div class="product d-flex flex-column justify-content-center"><img src="{{image_directory}}work_img5.png" alt=""><p class="pt-16px text-center">概念攝影/2018</p></div>
        </div>
        <div class="art d-flex justify-content-between mt-48px mb-144px">
            <div class="product d-flex flex-column justify-content-center"><img src="{{image_directory}}work_img6.png" alt=""><p class="pt-16px text-center">sasa 酒標設計/2019</p></div>
            <div class="product d-flex flex-column justify-content-center"><img src="{{image_directory}}work_img7.png" alt=""><p class="pt-16px text-center">攝影創作/2018</p></div>
            <div class="product d-flex flex-column justify-content-center"><img src="{{image_directory}}work_img8.png" alt=""><p class="pt-16px text-center">官網設計/2020</p></div>
        </div>
    </div>
    <div class="contact" data-aos="fade-left">
        <h1>Contact</h1>
        <p>Mail：xxxd@hexschool.com</p>
        <p>Phone Number：0910123456</p>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
           offset: 400, 
           delay: 0, 
           duration: 1000 
        });
        
    </script>
</main> 
</body>
</html>